@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&display=swap');

/* FONTS */
$fonts: 'Josefin Sans', sans-serif;

/* COLORS */
$text: #39364F;
$background: #ffffff;
$search_grey: #f8f7fa;
$shadow: #D3D3D3;
$orange: #F05538;
$dark-orange: #D1410C;
$blue: #3D64FF;
$purple: #1E0A3C;
$peach: #fbafa1;

/* MIXIN || @include */
@mixin flex-container($direction:row, $justify:flex-start, $align:flex-start){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

/* TEMPLATES || @extend */
%fit-image {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

%fill-container {
    height: 100%;
    width: 100%;
}


body {
  background-color: $background;
  font-family: $fonts;
  color: $text;
}

/* APP CONTAINER */
.app-grid-container {
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;
  grid-template-rows: 70px 3fr 70px;
  grid-template-areas:
    '. nav .'
    '. body .'
    '. foot .';
  height: 100vh;
  width: 100vw;
}

.nav{
  grid-area: nav;
  display: grid;
  grid-template-columns: 600px 1fr 200px;
  grid-template-rows: 1fr;
  grid-template-areas:
    'fixed links';
}

.body{
  grid-area: body;
  margin: 0px;
}

.footer{
    grid-area: foot;
    padding: 20px 0px 20px 0px;
    @include flex-container(row, center, center)
}


/* NAV BAR */
.nav-bar-fixed {
    @include flex-container(row, center, center)
}

.nav-bar-search {
    @include flex-container(row, center, center)
}

.nav-bar-links {
    @include flex-container(row, flex-start, center)
}

.logo {
  width: 70px;
  margin-right: 50px;
  margin-left: 20px;
}



/* EVENT PAGE */
.event-page-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  'event-header'
  'event-description';
  height: 80vh;
  width: 95%;
}

/* EVENT PAGE TOP */
.event-header-container {
  grid-area: event-header;
  display: flex;
  height: 300px;
}

.event-image-container {
    @extend %fit-image;
}

.event-image {
    @extend %fit-image;
}

.event-header-details{
    @include flex-container(column, space-between, flex-start);
    background-color: $peach;
    padding: 20px 10px 20px 40px;
    border-bottom: 5px solid $orange;
}

.event-register-button {
    @include flex-container()
}

/* EVENT PAGE BOTTOM */

.event-body-container{
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 1fr;
  grid-template-areas: 'summary .';

  @extend %fill-container;
  padding-top: 20px;
}

.event-summary{
  padding: 0px 20px 10px 20px;
}



/* PROFILE PAGE */
.profile-grid-container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr;
  grid-template-areas: 'profile-settings profile-events';
}

.profile-settings-container {
    @include flex-container(column, flex-start, center);
    grid-area: profile-settings;
    height: 80vh;
    margin-top: 60px;
}

.profile-events-container {
    @include flex-container(column, flex-start, center);
    grid-area: profile-events;
    width: 100%;
    height: 85%;

    ::-webkit-scrollbar {
        display: none;
    }
}

.profile-image-container {
    @include flex-container(row, center, center);
    width: 90%;
    margin-top: 20px;
}

.profile-image { 
    border-radius: 5px;
    margin: 0px;
    max-width: 90%;
}

.user-events-container {
    @include flex-container(column, flex-start, flex-start);
    overflow-y: scroll;
    max-height: 300px;
    width: 50vw;
}



/* FORM, INPUT AND LINK STYLINGS */
.modal-form {
    background-color: $shadow;
    width: 250px;
    padding: 25px;
    text-align: center;
    border-radius: 5px;
}

.modal-form > input {
  border: 0;
  border-radius: 3px;
  border-bottom: 2px solid $purple;

  display: block;
  box-sizing: border-box;
  background-color: $background;

  width: 100%;
  margin: 15px 0px 20px 0px;
  padding: 10px;
  outline: 0;
}

.modal-form > input:focus {
  border-bottom-color: $orange;
}

button {
  border: 1px solid $purple;
  border-radius: 3px;

  background-color: $background;

  width: 100%;
  font-weight: 700;
  padding: .5em 1em;
  margin-top: 20px;
  transition: background-color 500ms, border 500ms, color 500ms;
}

button:hover {
  background-color: $orange;
  border: 2px solid white;
  color: white;
}

.nav-link {
  color: $dark-orange;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 500ms, color 500ms;
}

.nav-link:hover {
  background-color: $orange;
  border: 2px solid white;
  color: white;
}

.card-nav-link {
  color: $orange;
  text-decoration: none;
}


/* CATEGORY BAR */

.category-bar {
  height: 5vh;
}

.category-bar > a {
  color: $blue;
}

.category {
  cursor: pointer;
  font-weight: lighter;
  color: rgb(165, 160, 160);
  transition: font-size 500ms, border-bottom 500ms, color 500ms;
  padding-bottom: 5px;
  font-size: 14px;
}

.category:hover {
  font-size: 15px;
  color: $blue;
  border-bottom: 1px solid $blue;
}



/* EVENT CARD */
.events-container{
    margin-top: 30px;
}


.event-card-container {
    @include flex-container(row, center, center);
    flex-wrap: wrap;
}

.event-card {
    @include flex-container(row, center, flex-start);
    height: 250px;
    width: 250px;
    margin: 20px;
    padding: 0px;
    background-color: white;
    position: relative;
    transition: box-shadow 500ms;
    box-shadow: 1px 1px 10px 1px $shadow;
}

.event-card-details {
  text-align: left;
  padding: 10px 15px 0px 15px;
  font-size: 14px;
}

.fav-icon {
    transform: scale(.4);
    position: absolute;
    right: -20px;
    bottom: 90px;
    cursor: pointer;
    transition: transform 300ms;
}

.fav-icon:hover {
  transform: scale(.5);
}

.event-card-image-container {
    grid-area: 'image';
    background-color: $orange;
    height: 110px;
}

.event-card-image {
    grid-area: 'image';
    background-color: $orange;
    @extend %fit-image; 
}

.event-card:hover {
  box-shadow: 5px 5px 20px 10px $shadow;
}

.event-card-title {
    color: $text;
    font-weight: bold;
    text-transform: capitalize;
    height: 20px;
    padding-bottom: 1em;
}


/* USER EVENT CARD */

.user-event-card-container {
    display: flex;
    margin: 10px;
    min-height: 270px;
    max-height: 300px;
}

.user-event-card {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 205px;
    width: 200px;
    margin: 5px;
    padding: 0px;
    transition: box-shadow 300ms;
    background-color: white;
    box-shadow: 1px 1px 5px 1px $shadow;
}

.user-event-card-details {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
}

.user-event-card-title {
    color: $text;
    font-weight: bold;
    text-transform: capitalize;
    height: 20px;
    padding-bottom: .25em;
}

.remove-btn {
    font-size: 14px;
    @include flex-container(row, center);
}

.user-event-card-image-container {
  grid-area: 'image';
  background-color: $orange;
  object-fit: cover;
  width: 100%;
  height: 100px;
}

.user-event-card:hover {
  box-shadow: 3px 3px 20px 5px $shadow;
}




/* SEARCH BAR  */

.search-bar-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $background;
  height: 50px;
  width: 400px;
  padding: 0px;
  margin: 0px;
  text-align: center;
  /* border-radius: 5px; */
}

.search-image{
  width: 25px;
  padding: 0px;
  margin: 0px;
  position: relative;
  left: 40px;
}

.search-bar-input {
  width: 100%;
  background-color: $search_grey;
  border-radius: 0px;
  font-size: 14px;
  border: none;
  padding: 15px 0px 15px 50px;
  font-family: $fonts;
}

.search-bar-input:focus {
  border: solid 2px blue;
  outline: 0px;
  border-radius: 0px;
}

/* OTHER STYLINGS */

.flex-container {
  @include flex-container(row, space-around, center)
}

.title {
  text-decoration: 'underline';
}

.content {
  text-align: 'justify';
}

.min-margin {
  margin: 0px 0px 10px 0px;
}

.flex-vertical{
  display: flex;
  flex-direction: column;
}

.scale{
  transform: scale(.8);
}
