@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --darkpink: #bf0f70;
  --pink: #d91193;
  --slate: #8d90b6;
  --teal: #224e55;
  --orange: #f2ae72;
}

body {
  display: flex;
  justify-content: center;
  background-color:var(--slate)
}

form {
  background-color: rgb(184, 178, 178);
  width: 250px;
  padding: 25px;
  margin-top: 350px;
  text-align: center;
  border-radius: 5px;
}

input {
  border: 0;
  border-radius: 3px;
  border-bottom: 2px solid #CCC;
  box-sizing: border-box;
  background-color: rgb(233, 225, 225);
  display: block;
  margin-bottom: 2em;
  outline: 0;
  padding: .25em .5em;
  width: 100%;
}

input:focus {
  border-bottom-color: blueviolet;
}

button {
  border: 2px solid white;
  background-color: rgb(233, 225, 225);
  border-radius: 3px;
  font-weight: 700;
  padding: .5em 1em;
  text-transform: uppercase;
  transition: background-color .25s, color .25s;
  cursor: pointer;
}
