/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&display=swap');

:root {
  --text: #39364F;
  --background: #f7f6f6;
  --shadow: #D3D3D3;
  --orange: #F05538;
  --dark-orange: #D1410C;
  --blue: #3D64FF;
  --purple: #1E0A3C;
}

body {
  background-color: var(--background);
  font-family: 'Josefin Sans', sans-serif;
  color: var(--text);
  text-align: center;
  /* margin-left: 20px;
  margin-right: 20px; */
  font-weight: 500;
}


/* CONTAINERS */

.app-grid-container {
  display: grid;
  grid-template: 1fr 10fr 1fr / 1fr;
  height: 100vh;
  width: 100vw;
}

.event-grid-container {
  display: grid;
  /* background-color: var(--orange); */
  grid-template: 3fr 6fr / 3fr 2fr;
  /* gap: 5px; */
  height: 80vh;
  width: 100vw;
  grid-template-areas:
   'image details',
   'sum sum';
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* GRID RELATED CLASSES */
.header{
  /* border-bottom: 10px solid var(--orange); */
  margin-top: 10px;
  margin-bottom: 10px;
}

.body{
  margin: 0px;
}

.footer{
  margin: 0px;
}

.event-image {
  grid-area: 'image';
  background-color: var(--orange);
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.event-details{
  grid-area: 'details';
  padding: 20px;
  border-bottom: 5px solid var(--orange);
}

.event-summary{
  grid-area: 'sum';
  padding: 20px;
}

/* FORM, INPUT AND LINK STYLINGS */
form {
  background-color: var(--shadow);
  width: 250px;
  padding: 25px;
  text-align: center;
  border-radius: 5px;
}

input {
  border: 0;
  border-radius: 3px;
  border-bottom: 2px solid var(--purple);

  display: block;
  box-sizing: border-box;
  background-color: var(--background);

  width: 100%;
  margin: 10px 0px 30px 0px;
  padding: 10px;
  outline: 0;
}

button {
  border: 1px solid var(--purple);
  border-radius: 3px;

  background-color: var(--background);

  width: 100%;
  font-weight: 700;
  padding: .5em 1em;
  margin-top: 20px;
}

.nav-link {
  color: var(--dark-orange);
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: var(--orange);
  border: 2px solid white;
  color: white;
}

.card-nav-link {
  color: var(--orange);
  text-decoration: none;
}

input:focus {
  border-bottom-color: var(--orange);
}

button:hover {
  background-color: var(--orange);
  border: 2px solid white;
  color: white;
}

/* CATEGORY BAR */

.category-bar {
  height: 5vh;
}

.category-bar > a {
  color: var(--blue);
}

.category {
  cursor: pointer;
  font-weight: lighter;
  color: rgb(165, 160, 160)
}

.category:hover {
  font-size: 24px;
  color: var(--blue);
  border-bottom: 3px solid var(--blue);
}

/* EVENT CARD */

.event-card-container {
  display: flex;
  flex-wrap: wrap;
}

.event-card {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 270px;
  width: 300px;
  margin: 20px;
  padding: 0px;

  background-color: white;
}

.event-card:hover {
  box-shadow: 3px 3px 15px 5px var(--shadow);
}

.event-card-title {
  color: var(--text);
  font-weight: bold;
}


/* SEARCH BAR  */

.search-bar {
  background-color: var(--shadow);
  padding: 10px 100px 8px 100px;
}

/* OTHER STYLINGS */

.event-image > img {
  object-fit: cover;
  width: 100%;
  max-height: 180px;
}
