/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&display=swap');

:root {
  --text: #39364F;
  --background: #ffffff;
  --search_grey: #f8f7fa;
  --shadow: #D3D3D3;
  --orange: #F05538;
  --dark-orange: #D1410C;
  --blue: #3D64FF;
  --purple: #1E0A3C;
  --peach: #fbafa1;
}

body {
  background-color: var(--background);
  font-family: 'Josefin Sans', sans-serif;
  color: var(--text);
  text-align: center;
  font-weight: 500;
}


/* CONTAINERS */

.app-grid-container {
  display: grid;
  grid-template: 1fr 10fr 1fr / 1fr;
  height: 100vh;
  width: 100vw;
}

.event-grid-container {
  display: grid;
  grid-template: 3fr 6fr / 3fr 2fr;
  height: 80vh;
  width: 100vw;
  grid-template-areas:
   'image details',
   'sum sum';
}

.profile-grid-container {
  display: grid;
  grid-template: 1fr 1fr / 3fr 7fr;
  height: 80vh;
  width: 100vw;
  grid-template-areas:
   'profile registered'
   'settings favorites';
}

.profile-settings-container {
  background-color: var(--peach);
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin-left: 20px;
  padding: 10px;
  border-radius: 15px;
}

.profile-image {
  border-radius: 5px;
  border: 5px solid white;
  margin: 0px;
}

.profile-events-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.user-events-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 35vh;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* GRID RELATED CLASSES */
.header{
  /* border-bottom: 10px solid var(--orange); */
  margin-top: 10px;
  margin-bottom: 30px;
}

.body{
  margin: 0px;
}

.footer{
  margin: 0px;
}

.event-image-container {
  grid-area: 'image';
  background-color: var(--orange);
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.event-image {
  grid-area: 'image';
  background-color: var(--orange);
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.event-details-container{
  grid-area: 'details';
  background-color: var(--peach);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 5px solid var(--orange);
}

.event-summary{
  grid-area: 'sum';
  padding: 20px;
}

/* profile page grid  */

.flex-vertical{
  display: flex;
  flex-direction: column;
}

.scale{
  transform: scale(.8);
}


/* FORM, INPUT AND LINK STYLINGS */
.modal-form {
  background-color: var(--shadow);
  width: 250px;
  padding: 25px;
  text-align: center;
  border-radius: 5px;
}

.modal-form > input {
  border: 0;
  border-radius: 3px;
  border-bottom: 2px solid var(--purple);

  display: block;
  box-sizing: border-box;
  background-color: var(--background);

  width: 100%;
  margin: 15px 0px 20px 0px;
  padding: 10px;
  outline: 0;
}

.modal-form > input:focus {
  border-bottom-color: var(--orange);
}

button {
  border: 1px solid var(--purple);
  border-radius: 3px;

  background-color: var(--background);

  width: 100%;
  font-weight: 700;
  padding: .5em 1em;
  margin-top: 20px;
  transition: background-color 500ms, border 500ms, color 500ms;
}

button:hover {
  background-color: var(--orange);
  border: 2px solid white;
  color: white;
}

.nav-link {
  color: var(--dark-orange);
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 500ms, color 500ms;
}

.nav-link:hover {
  background-color: var(--orange);
  border: 2px solid white;
  color: white;
}

.card-nav-link {
  color: var(--orange);
  text-decoration: none;
}


/* CATEGORY BAR */

.category-bar {
  height: 5vh;
}

.category-bar > a {
  color: var(--blue);
}

.category {
  cursor: pointer;
  font-weight: lighter;
  color: rgb(165, 160, 160);
  transition: font-size 300ms, border-bottom 200ms, color 300ms;
}

.category:hover {
  font-size: 20px;
  color: var(--blue);
  border-bottom: 2px solid var(--blue);
}

/* EVENT CARD */

.event-card-container {
  display: flex;
  flex-wrap: wrap;
}

.event-card {
  display: flex;
  justify-content: center;
  height: 270px;
  width: 300px;
  margin: 20px;
  padding: 0px;
  background-color: white;
  position: relative;
  transition: box-shadow 500ms;
}

.event-card-details {
  text-align: left;
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 10px;
}

.fav-icon {
  transform: scale(.45);
  position: absolute;
  right: -20px;
  bottom: 70px;
  cursor: pointer;
  transition: transform 300ms;
}

.fav-icon:hover {
  transform: scale(.55);
}

.event-card-image-container {
  grid-area: 'image';
  background-color: var(--orange);
  object-fit: cover;
  width: 100%;
  height: 160px;
}

.event-card-image {
  grid-area: 'image';
  background-color: var(--orange);
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.event-card:hover {
  box-shadow: 3px 3px 15px 5px var(--shadow);
}

.event-card-title {
  color: var(--text);
  font-weight: bold;
  text-transform: capitalize;
}


/* USER EVENT CARD */

.user-event-card-container {
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
  transform: scale(.9)
}

.user-event-card {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  position: relative;
  height: auto;
  width: 200px;
  margin: 20px;
  padding: 0px;
  transition: box-shadow 500ms;
  background-color: white;
}

.user-event-card-details {
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
}

.remove-btn {
  font-size: 14px;
}

.user-event-card-image-container {
  grid-area: 'image';
  background-color: var(--orange);
  object-fit: cover;
  width: 100%;
  height: 100px;
}

.user-event-card:hover {
  box-shadow: 3px 3px 15px 5px var(--shadow);
}

/* SEARCH BAR  */

.search-bar-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background);
  height: 50px;
  width: 400px;
  padding: 0px;
  margin: 0px;
  text-align: center;
  /* border-radius: 5px; */
}

.search-image{
  width: 25px;
  padding: 0px;
  margin: 0px;
  position: relative;
  left: 40px;
}

.search-bar-input {
  width: 100%;
  background-color: var(--search_grey);
  border-radius: 0px;
  font-size: 14px;
  border: none;
  padding: 15px 0px 15px 50px;
  font-family: 'Josefin Sans', sans-serif;
}

.search-bar-input:focus {
  border: solid 2px blue;
  outline: 0px;
  border-radius: 0px;
}

/* OTHER STYLINGS */

.title {
  text-decoration: 'underline';

}

.content {
  text-align: 'justify';
}

