/* Site Color Swatches*/
:root {
  --darkpink: #bf0f70;
  --pink: #d91193;
  --slate: #8d90b6;
  --teal: #224e55;
  --orange: #f2ae72;
}

/* .page-wrap {
  max-width: 1366px;
  margin: auto;

  background-color: rgba(0, 0, 0, 0.35);
  margin-top: -64px;
} */

.full-width-nav {
  position: fixed;
  height: 64px;
  background:linear-gradient(var(--teal), var(--slate));
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  /* display: flex; */
  align-content: center;
}

/* .navBar {
display: flex;
justify-content: space-between;
background: linear-gradient(var(--teal), var(--slate));
box-shadow: var(--blue);
padding: 10px;
position: sticky;
top: 0px;
z-index: 3;
} */

/* Contains the Logo as well as the Search Bar */
/* .navBar__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  max-width: 56px;
  margin-right: 10px;
} */


/* Contains the "My Games", "My Reviews", "My Profile", and Logout when logged in */
/* Contains the Login and Signup buttons when logged out */
/* .navBar__right {
  width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar__right-unauth {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
} */


.nav__link-container {
color: var(--orange);
display: flex;
justify-content: space-around;
align-content: center;
padding-top: 20px;
}

/* .nav__link-container:hover a{
color: var(--yellow);
} */
/*
.nav__link-container:active a{
opacity: 50%;
} */

.nav__link {
  color: black;
}
/*
.nav__link-:hover {
  color: var(--yellow);
}

.footer {
  color: white;
  display: flex;
  justify-content: center;
  background: linear-gradient(rgba(191, 15, 112, 0), rgba(191, 15, 112,0.6));
  padding: 10px;
  z-index: 3;
  flex: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
} */

/*
.nav-footer__row {
  font-size: 1.2em;
  flex-grow: .07;
}

.icon__spacer {
  padding: 0 8px;
}
*/
